@page "/login"
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@using AttendanceSystem.Services

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>UTD ID:</label>
        <InputNumber @bind-Value="loginModel.UTD_ID" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit">Login</button>
</EditForm>

@code {
    private AttendanceSystem.Models.LoginModel loginModel = new();

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginUser(loginModel);
        if (result)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.IsInRole("Professor"))
                NavigationManager.NavigateTo("/professor");
            else if (user.IsInRole("Student"))
                NavigationManager.NavigateTo("/student");
            else
                NavigationManager.NavigateTo("/");
        }
    }
}
