@page "/login"
<h3>Login</h3>
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
<DataAnnotationsValidator />
<ValidationSummary />
<div>
<label for="username">Username</label>
<InputText id="username" @bind-Value="loginModel.Username" placeholder="Enter username" />
</div>
<div>
<label for="password">Password</label>
<InputText id="password" @bind-Value="loginModel.Password" placeholder="Enter password" type="password" />
</div>
<div>
<button type="submit">Login</button>
</div>
</EditForm>
@code {
 [Inject] NavigationManager NavigationManager { get; set; }
private LoginModel loginModel = new LoginModel();
private async Task HandleLogin()
{
    var url = $"/attendance?username={loginModel.Username}";
    NavigationManager.NavigateTo(url);
}

public class LoginModel
 {
public string Username { get; set; }
public string Password { get; set; }
 }
}